/* COMMON */
body {
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    height: 3000px;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

.strong {
    font-weight: 800;
    /*font 별로 strong이 안먹을 수 있다, 400,700,800을 가져와서 800이 적용될 것*/
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid currentColor;
    border-radius: 5px;
    transition: .4s;
}

.btn:hover {
    text-decoration: underline;
}


.btn--reverse {
    background-color: #00704A;
    border-color: #00704A;
    color: white;
}

.btn--white {
    border-color: white;
    color: white;
}

.btn--light_green {
    border-color: #00704a;
    color: #00704a;
    transition: .4s;
}

.btn--light_green:hover {
    color: white;
    background-color: #00704A;
}

.btn--dark_green {
    border-color: #1c3831;
    color: #1c3831;
    transition: .4s;
}

.btn--dark_green:hover {
    background-color: #1c3831;
    color: white;
    text-decoration: underline;
}

.btn--gold {
    border-color: #B9813E;
    color: #B9813E;
}

.btn--gold:hover {
    background-color: #B9813E;
    color: white;
}

.btn--black {
    border-color: black;
    color: black;
}

.btn--black:hover {
    background-color: black;
    color: white;
}



/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f6f5ef;
    border-bottom: 1px solid #c8c8c8;
    z-index: 1;

}

header>.inner {
    display: flex;
    background-color: #f6f5ef;
    height: 120px;
}

header .inner a.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 75px;
}

header .inner a.logo img {
    display: block;
}


/* SUB MENU */
header .inner .sub_menu {
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;
}

header .inner .sub_menu ul.menu {
    display: flex;
}

header .inner .sub_menu ul.menu li {
    /* position: relative; */
    line-height: 32px;
}

header .inner .sub_menu ul.menu li:not(:last-child)::after {
    content: "|";
    font-size: 12px;
    color: #c8c8c8;

    /* content: "";
    display: block;
    width: 1px;
    height: 12px;
    font-size: 12px;
    background-color: #c8c8c8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; */
}

header .inner .sub_menu ul.menu li a {
    font-size: 12px;
    color: #656565;
    padding: 10px 15px;
    text-decoration: none;
}

header .inner .sub_menu ul.menu li a:hover {
    text-decoration: underline;
}


/* SEARCH */
header .inner .sub_menu .search {
    position: relative;
    box-sizing: border-box;
}

header .inner .sub_menu .search input {
    width: 10px;
    height: 30px;
    transition: width .4s;
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

header .inner .sub_menu .search input:focus {
    width: 180px;
    outline-color: #c8c8c8;
}

header .inner .sub_menu .search span {
    position: absolute;
    font-size: 24px;
    height: 24px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 3px;
}


/* MAIN MENU */
header .main_menu {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

header .main_menu>ul {
    display: flex;
}

header .main_menu ul li.item {}

header .main_menu ul li.item .item__name {
    padding: 10px 20px 34px 20px;
}

header .main_menu ul li.item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    text-decoration: underline;
    cursor: pointer;
}

/* ITEM CONTENT MENU */
header .main_menu ul li.item .item__contents {
    position: fixed;
    left: 0;
    width: 100%;
    display: none;
}

header .main_menu ul li.item:hover .item__contents {
    display: block;
}

header .main_menu ul li.item .item__contents .item__contents__menu {
    background: #2C2A29;
    height: 100%;
    color: white;
    /* transition: height 1s; */
    /* fixed면 젤 상단에 와야하는거 아닌가? */
}

header .main_menu ul li.item .item__contents .item__contents__additional {
    /* background-color: skyblue; */
    height: 100%;
}

/* CONTENT MENU > SUB */
header .main_menu ul li.item .item__contents .item__contents__menu .inner {
    display: flex;
    flex-wrap: wrap;
}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li {
    width: 18%;
    margin-left: 20px;
}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li:last-child {
    margin-bottom: 20px;
}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li>a {
    display: block;
    color: white;
    font-weight: 600;
    margin: 20px 0 10px 0;
    text-decoration: none;
}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li>a:hover {
    text-decoration: underline;
    cursor: pointer;
}


header .main_menu ul li.item .item__contents .item__contents__menu .inner>li>ul {}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li>ul>li {
    display: block;
    color: #999;
    font-size: 11px;
    margin-bottom: 5px;
}

header .main_menu ul li.item .item__contents .item__contents__menu .inner>li>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* CONTENT ADDITIONAL > SUB */
header .main_menu ul li.item .item__contents .item__contents__additional {
    background-image: url("https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


header .main_menu ul li.item .item__contents .item__contents__additional .inner {
    position: relative;
    font-size: 12px;
    display: block;

}

header .main_menu ul li.item .item__contents .item__contents__additional .inner a {
    color: #999;
    font-weight: bold;
}

header .main_menu ul li.item .item__contents .item__contents__additional .inner a:hover {
    text-decoration: underline;
}


header .main_menu ul li.item .item__contents .item__contents__additional .inner p {
    color: #64a70b;
}



/* BADGES */
header .badges {
    position: absolute;
    top: 150px;
    right: 20px;
}

/* 지금은 header 따라 위치를 조정했다. 하지만, 뷰포트로 줘도 됨.. */

header .badges .badge {}

header .badges .badge>a {}

header .badges .badge>a>img {}


/* VISUAL */
.visual {
    position: relative;
    background-image: url("../images2/visual_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 120px;
}

.visual .inner {
    position: relative;
    height: 646px;
}

.visual .inner .slogan {
    opacity: 0;
    transition: .4s;
    position: absolute;
    left: 0;
    top: 88px;
}

.visual .inner .slogan>img {}

.visual .inner .slogan>a {}

.visual .inner .slogan>.btn {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100px;
    font-size: 15px;
    text-align: center;
    color: #1c3831;
    padding: 7px 15px;
    opacity: 0;
    transition: .4s;
}

.visual .inner .slogan>.btn:hover {
    background-color: #1c3831;
    color: white;
    text-decoration: underline;
}

.visual .inner .image {
    position: absolute;
}

.visual .inner .image.item_1 {
    opacity: 0;
    transition: .4s;
    top: 80px;
    left: 650px;
    width: 260px;
}

.visual .inner .image.item_2 {
    opacity: 0;
    transition: .4s;
    top: 220px;
    left: 30px;
    width: 590px;
}

.visual .inner .image.item_3 {
    opacity: 0;
    transition: .4s;
    top: 250px;
    left: 850px;
    width: 370px;
}

/* VISUAL: HOVER -> ANIMATION */
.visual .inner.animate .image.item_1 {
    opacity: 1;
    transition-delay: .4s;
}

.visual .inner.animate .image.item_2 {
    opacity: 1;
    transition-delay: .8s;
}

.visual .inner.animate .image.item_3 {
    opacity: 1;
    transition-delay: 1.2s;
}

.visual .inner.animate .slogan {
    opacity: 1;
}

.visual .inner.animate .slogan .btn {
    opacity: 1;
    transition-delay: 1.6s;
}

/* NOTICE */
.notice {}

.notice .notice_line {
    position: relative;
}

.notice .notice_line .bg_left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /*자식 요소를 따라간다*/
    background-color: #111111;
}

.notice .notice_line .bg_right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /*자식 요소를 따라간다*/
    background-color: #f6f5ef;
}

.notice .notice_line .inner {
    display: flex;
    height: 62px;
}

.notice .notice_line .inner .inner__left {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #111111;
    align-items: center;
    color: white;
    display: flex;
    overflow: hidden;
}

.notice .notice_line .inner .inner__left h1 {
    position: absolute;
    /*문서 흐름에서 벗어남*/
    left: 0;
    font-weight: bold;
}

.notice .notice_line .inner .inner__left .swiper {
    position: absolute;
    height: 62px;
    left: 80px;
    flex-grow: 1;
    font-size: 14px;
}

.notice .notice_line .inner .inner__left .swiper .swiper-wrapper .swiper-slide {
    height: 62px;
    line-height: 62px;
}


/* !!absolute와 relative 문제가... */
.notice .notice_line .inner .inner__left a {
    position: absolute;
    right: 150px;
    color: white;
}

.notice .notice_line .inner .inner__left a span {
    font-size: 36px;
    vertical-align: bottom;
}


.notice .notice_line .inner .inner__right {
    position: relative;
    right: 120px;
    width: 40%;
    height: 100%;
    /*자식 요소를 따라간다*/
    background-color: #f6f5ef;
    display: flex;
    align-items: center;
}

.notice .notice_line .inner .inner__right h1 {
    position: absolute;
    right: 120px;
    font-weight: bold;
}

.notice .notice_line .inner .inner__right a {
    position: absolute;
    right: 20px;
}

.notice .notice_line .inner .inner__right a span {
    font-size: 36px;
    color: black;
    vertical-align: bottom;
}

/* PROMOTION */
.notice .promotion {
    position: relative;
    height: 658px;
    background-color: #f6f5ef;
}

.notice .promotion .swiper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20px;
    height: 600px;
    width: calc(819px*3 + 20px);
    /* background-color: orange; */
}

.notice .promotion .swiper .swiper-wrapper {}

.notice .promotion .swiper .swiper-wrapper .swiper-slide {
    opacity: 0.5;
    transition: .2s;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide-active {
    opacity: 1;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    text-align: center;
}



/* REWARDS */
.rewards {
    background-color: #1E3932;
}

.rewards .inner {
    display: flex;
    gap: 20px;
    /*flex끼리 띄우는 것*/
    padding: 30px 0 40px 0;
}

.rewards .inner>a {}

.rewards .inner>a>img {
    display: block;
    width: 176px;
}

.rewards .inner .rewards__items {
    flex-grow: 1;
    /*공간 전체를 차지하는 요소*/
}

.rewards .inner .rewards__items .rewards__items__register {
    position: relative;
    padding: 0 0 12px 0;
    box-shadow: 0 0.5px #c8c8c8;
    /* border-bottom: 1px solid #c8c8c8; */
}

.rewards .inner .rewards__items .rewards__items__register p {
    display: block;
    font-size: 17px;
    color: white;
}

.rewards .inner .rewards__items .rewards__items__register p.subject {
    font-size: 26px;
    margin-bottom: 10px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons {
    position: absolute;
    right: 0;
    bottom: 12px;
}

.rewards .inner .rewards__items .rewards__items__card {
    position: relative;
    padding: 20px 0 0 0;
}

.rewards .inner .rewards__items .rewards__items__card p {
    font-size: 14px;
    color: white;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
    position: absolute;
    right: 0;
    top: 20px;
}


/* PERU */
.peru {
    position: relative;
    background-image: url("../images2/peru_bg.jpg");
    height: 570px;
    overflow: hidden;
    /*안그러면 넘친다!*/
}

.peru::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-image: url("../images2/peru_bg_left.png");
    background-size: cover;
    /*보통 contain일 때 repeat이 일어남;; cover 주면 크기따라 알아서 잘림*/
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}

.peru::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-image: url("../images2/peru_bg_right.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

.peru .inner {
    height: 570px;
    /* common-inner에 relative를 줘서 안쓰는 것 */
}

.peru .inner .img_product {
    display: block;
    /*중요!! 높이 맞출 때*/
    position: absolute;
    width: 250px;
    top: 140px;
    left: 260px;
    transform: translate(-450px, 0);
    transition: 2.5s;
    opacity: 0;
}

/* PERU: HOVER -> ANIMATION */
.peru .inner.animate .img_product {
    transform: translate(0px, 0);
    opacity: 1;
}

.peru .inner .peru__contents {
    position: absolute;
    top: 200px;
    right: 100px;
    transform: translate(500px, 0);
    transition: 2.5s;
    opacity: 0;
}

/* PERU: HOVER -> ANIMATION */
.peru .inner.animate .peru__contents {
    transform: translate(0px, 0);
    opacity: 1;
}

.peru .inner .peru__contents>img {
    width: 427px;
}

.peru .inner .peru__contents>.btn {
    display: block;
    /*원래는 inline-block 속성이었기 때문에*/
    width: 90px;
    margin-top: 40px;
}


/* INDONESIA */
.indonesia {
    position: relative;
    background-image: url("../images2/indonesia_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;

}

.indonesia:hover .indonesia::before {
    opacity: 1;
}

/* 그림 크기 잡아야 제대로 위치 정할 수 있다! */
.indonesia::before {
    content: "";
    display: block;
    position: absolute;
    left: -100px;
    bottom: 0;
    background-image: url("../images2/indonesia_bg_left.png");
    background-size: cover;
    width: 370px;
    height: 230px;
}

.indonesia::after {
    content: "";
    display: block;
    position: absolute;
    right: -400px;
    bottom: 0;
    background-image: url("../images2/indonesia_bg_right.png");
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    width: 560px;
    height: 300px;
}


.indonesia .inner {
    /* !!relative 있음!! */
}

/* hover->animate */
.indonesia .inner.animate img {
    opacity: 1;
}

.indonesia .inner img {
    position: absolute;
    transition: 1.5s;
}

.indonesia .inner .indonesia__img {
    left: -300px;
    opacity: 0;
    /*그림 그냥 올렸을 때 위치보고 방향 잡자!*/
}

.indonesia .inner .indonesia__title {
    display: block;
    width: 500px;
    height: 120px;
    top: 100px;
    left: 100px;
}

.indonesia .inner .btn--gold {
    position: absolute;
    top: 250px;
    left: 280px;
}


/* FAVORITE */
.favorite {
    position: relative;
    background-image: url("../images2/fav_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 800px;
}

.favorite .inner {
    height: 800px;
}

.favorite .inner img {
    display: block;
    position: absolute;
    transition: 1.2s;
}

.favorite .inner .favorite__title_1 {
    left: 120px;
    top: 120px;
    width: 250px;
    height: 180px;
    transform: translate(-500px, 0);
    opacity: 0;
}

/* .favorite .inner:active img {
    transform: translate(0px, 0);
    opacity: 1;
} */

.favorite .inner.animate .favorite__title_1,
.favorite .inner.animate .favorite__title_2,
.favorite .inner.animate .favorite__item {
    transform: translate(0px, 0);
    opacity: 1;
}

.favorite .inner .favorite__title_2 {
    width: 350px;
    left: 10px;
    top: 330px;
    height: 140px;
    transform: translate(-600px, 0);
    opacity: 0;
}


.favorite .inner .favorite__item {
    top: 100px;
    right: 0;
    width: 610px;
    height: 410px;
    transform: translate(600px, 0);
    opacity: 0;
}

.favorite .inner .btn--white {
    position: absolute;
    top: 500px;
    left: 200px;
    opacity: 0;
    transition: 1s;
}

.favorite .inner.animate .btn--white {
    opacity: 1;
}

.favorite .inner .btn--white:hover {
    background-color: white;
    color: black;
}


/* MAGAZINE */
.magazine {
    position: relative;
    background-image: url("../images2/magazine_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -500px 40px;
    overflow: hidden;
    /* margin-top: 30px; */
    overflow: hidden;
    height: 375px;
}

.magazine .inner {}

.magazine .inner img {
    position: absolute;
}

.magazine .inner .magazine__title {
    top: 100px;
    left: 50px;
    width: 580px;
    height: 100px;
}

.magazine .inner .magazine__image {
    top: 0;
    width: 350px;
    height: 370px;
    right: 70px;
    opacity: 0;
    transition: 1s;
}

.magazine .inner .btn--black {
    position: absolute;
    top: 230px;
    left: 330px;
}

.magazine .inner.animate .magazine__image {
    opacity: 1;
}


/* STORE */
.store {
    position: relative;
    background-image: url("../images2/store_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.store::before {
    content: "";
    position: absolute;
    left: 500px;
    display: block;
    background-image: url("../images2/store_img_3.png");
    background-repeat: no-repeat;
    width: 343px;
    height: 142px;
}

.store::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    display: block;
    background-image: url("../images2/store_img_4.png");
    background-repeat: no-repeat;
    width: 343px;
    height: 142px;
}


.store .inner {
    height: 400px;
}

.store .inner img {
    position: absolute;
    transition: 1.5s;
    opacity: 0;
}

.store .inner .store__img_2 {
    top: 0;
    left: 50px;
    width: 366px;
    height: 312px;
}

.store .inner .store__img_1 {
    top: 150px;
    left: 300px;
    width: 228px;
    height: 228px;
}

.store .inner .store__title_1 {
    top: 100px;
    right: 60px;
    width: 385px;
    height: 54px;
    transform: translate(700px, 0);
}

.store .inner .store__title_2 {
    top: 170px;
    right: 80px;
    width: 366px;
    height: 61px;
    transform: translate(800px, 0);
}

.store .inner .btn--black {
    position: absolute;
    top: 250px;
    right: 310px;
    width: 80px;
    height: 20px;
    text-align: center;
    transition: 2.0s;
    transform: translate(900px, 0);
}

.store .inner.animate img,
.store .inner.animate .btn--black {
    transform: translate(0, 0);
    opacity: 1;
}

/* FOOTER */
footer {
    background-color: #2C2A29;
}

footer .inner {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

footer .inner .sub_menu {
    display: flex;
    padding: 40px 0 40px 100px;
}

footer .inner .sub_menu {}

footer .inner .sub_menu .item_content {}

footer .inner .sub_menu .item_content>ul {
    display: flex;
    flex-wrap: wrap;
}

footer .inner .sub_menu .item_content>ul>li {
    width: 250px;
    margin: 0 0 40px 0;
}

footer .inner .sub_menu .item_content>ul>li>a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
}

footer .inner .sub_menu .item_content>ul>li>a:hover {
    text-decoration: underline;
}


footer .inner .sub_menu .item_content>ul>li>ul {}

footer .inner .sub_menu .item_content>ul>li>ul>li {
    margin-bottom: 2px;
}

footer .inner .sub_menu .item_content>ul>li>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}

footer .inner .sub_menu .item_content>ul>li>ul>li>a:hover {
    text-decoration: underline;
}

footer .inner .sub_menu>img {
    position: absolute;
    display: block;
    top: 50px;
    right: 150px;
}


footer .inner .btn_info {}

footer .inner .btn_info>ul {
    display: flex;
    justify-content: space-evenly;
}

footer .inner .btn_info>ul>li {
    font-size: 12px;
}

footer .inner .btn_info>ul>li:not(:last-child)::after {
    content: "|";
    padding-left: 10px;
    color: rgb(70, 67, 67);
    vertical-align: bottom;
}


footer .inner .btn_info>ul>li:first-child a {
    color: #00b050;
    font-weight: bold;
}


footer .inner .btn_info>ul>li>a {
    color: #CCCCCC;
}

footer .inner .btn_info>ul>li>a:hover {
    text-decoration: underline;
}

footer .inner .btn_info .buttons {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 10px 0 30px 0;
    font-size: 12px;
}

footer .inner .btn_info .buttons .btn--white {
    margin: 0 3px;
}

footer .inner .starbucks_info {}

footer .inner .starbucks_info>ul {
    display: flex;
    justify-content: center;
}

footer .inner .starbucks_info>ul>li {
    padding: 0 20px 0 0;
}

footer .inner .starbucks_info>ul>li>a {
    font-size: 12px;
    color: #999999;
}

footer .inner .starbucks_info p {
    display: block;
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
    color: #999999;
}